.navbar-nav .nav-item {
    border-bottom: 1px solid black;
    text-align: center;
    background-color: aliceblue;  
    font-size: 2em;
}

p.h1 {
    text-align: center;
}

.tall-section {
    height: 1000px;
    background-color: rgb(124, 118, 118);
}
#tile {
    display: flex;
   
}

.centered-span {
    top: 0;
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    opacity: .8;
    color: rgb(8, 2, 2);
}
.row {
    margin: 0px 50px 0px 50px;

}
